doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    hr
    block footer
      p
        a(href="/leaderboard/all/1") Leaderboards
      p
        a(href="/chat?channel=Trivia") Chat Log
      p
        a(href="http://steamcommunity.com/id/dota2triviabot/") Bot Steam Profile
      p
        a(href="https://github.com/devilesk/dota-trivia-bot") Source Code
      p
        a(href="http://devilesk.com/") Owner